<%- include('header'); -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro neque quo veritatis est quibusdam accusamus iure
        iste
        eveniet nostrum, pariatur atque. Sint eos veniam fugit molestiae obcaecati odit consectetur laborum.</p>
    <%- include('footer'); -%>